body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Hello-info{
  color: grey;
  font-size: 14px;
  padding-left: 10px;
}

.loginWrapper{
  display: flex;
}
.main{
  flex: 1;
}
.main h1{
  margin: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background: #1e5799;
  background: -webkit-linear-gradient(left,#1e5799 1%,#7db9e8 99%);
  color: #fff;
}
.aside{
  width: 250px;
  height: 100vh;
  border-right: 1px solid #ccc;
}
.topbar{
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #1e5799;
}
.account{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  
}
.account span:nth-child(1){
  flex: 1;
  font-size: 24px;
}
.icon-home{
  width: 20px;
  height: 20px;
  padding-right: 10px;
  font-size: 20px;
}
.icon-logout{
  font-size: 24px;
  cursor: pointer;
}
.icon-todo{
  padding: 0 7px 0 3px;
}
.aside-content p{
  line-height: 42px;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.inputWrapper{
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 20px 15px 0 15px;
  background: #3c76b2;
  border-radius: 4px;
  color:#fff 
}
.inputWrapper input::-webkit-input-placeholder{
  color:#fff !important;
}
.inputWrapper input::-moz-input-placeholder{
  color:#fff !important;
}
.inputWrapper input::-ms-input-placeholder{
  color:#fff !important;
}
.todoList{
  margin: 0 15px;
}